body {
    background-color: #576fa7;
    margin-top: 5em;
}
h3 {
    position: absolute;
    /* font-weight: 400; */
    /* border: solid; */
    border: 2px solid #1d7d74;
    background: cornflowerblue;
    width: 5em;
    text-align: center;
    top: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
#score {
    position: absolute;
    border: 2px solid #1d7d74;
    background-color: #c2f0c2;
    height: 2em;
    font-size: 30px;
    text-align: center;
    top: 3.5em;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7em;
}

#new_game {
    position: relative;
    left: 1em;
    background-color: #90acee;
    height: 2em;
    font-size: 30px;
}

#sound {
    position: relative;
    background-color: #a4b2d2;
    height: 3em;
    top: 4em;
    left: -10em;
}

.grid_container {
    position: absolute;
    margin-top: 4em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 600px;
    height: 600px;
}

.tile {
    width: 25%;
    height: 25%;
    position: absolute;
    border: 2px solid #1d7d74;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}

.empty {
    background-color: grey;
}

.filled {
    /*background-color: lightgreen;*/
}

.filled_2 {
    content: "2";
    background-color: #c2f0c2;
 }

.filled_4 {
    content: "4";
    background-color: #de81d2;
}

.filled_8 {
    content: "8";
    background-color: #83b86a;
}

.filled_16 {
    background-color: #87cdff;
    content: "16";
}

.filled_32 {
    background-color: #ff9999;
}

.filled_64 {
    background-color: #ffcc6b;
}

.filled_128 {
    background-color: #2995ff;
}

.filled_256 {
    background-color: #a94cff;
}

.filled_512 {
    background-color: #90acee;
}

.filled_1024 {
    background-color: #dc9d4a;
}

.filled_2048 {
    background-color: #dc97b8;
}


.value_2:before {
    content: "2";
    position: relative;
    top: 30%;
}

.value_4:before {
    content: "4";
    position: relative;
    top: 30%;
}

.value_8:before {
    content: "8";
    position: relative;
    top: 30%;
}

.value_16:before {
    content: "16";
    position: relative;
    top: 30%;
}

.value_32:before {
    content: "32";
    position: relative;
    top: 30%;
}

.value_64:before {
    content: "64";
    position: relative;
    top: 30%;
}

.value_128:before {
    content: "128";
    position: relative;
    top: 30%;
}

.value_256:before {
    content: "256";
    position: relative;
    top: 30%;
}

.value_512:before {
    content: "512";
    position: relative;
    top: 30%;
}

.value_1024:before {
    content: "1024";
    position: relative;
    top: 30%;
}

.value_2048:before {
    content: "2048";
    position: relative;
    top: 30%;
}

#tile_1 {
     top: 0%;
     left: 0%;
 }

#tile_2 {
    top: 0%;
    left: 25%;
}

#tile_3 {
    top: 0%;
    left: 50%;
}

#tile_4 {
    top: 0%;
    left: 75%;
}

#tile_5 {
    top: 25%;
    left: 0%;
}

#tile_6 {
    top: 25%;
    left: 25%;
}

#tile_7 {
    top: 25%;
    left: 50%;
}

#tile_8 {
    top: 25%;
    left: 75%;
}

#tile_9 {
    top: 50%;
    left: 0%;
}

#tile_10 {
    top: 50%;
    left: 25%;
}

#tile_11 {
    top: 50%;
    left: 50%;
}
#tile_12 {
    top: 50%;
    left: 75%;
}

#tile_13 {
     top: 75%;
     left: 0%;
 }

#tile_14 {
    top: 75%;
    left: 25%;
}

#tile_15 {
    top: 75%;
    left: 50%;
}

#tile_16 {
    top: 75%;
    left: 75%;
}